################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/proj1/.vs/proj1
/.vs
/proj1/bin/Debug/netcoreapp3.1
/proj1/obj
